.activity-log {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 12px;
    padding: 12px;
    background-color: white;
    border-radius: 5px;  
}

.activity-log .profile {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.activity-log > .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.activity-log > .profile p {
    margin-bottom: 0;
}

.activity-log > div.info {
   margin-inline-start: 20px;
}

.activity-log .change {
    display: flex;
    align-items: center;
 }

 .activity-log .change p {
    margin: 0 12px;
 }

.activity-log > div.info h2 {
    margin-bottom: 0;
 }

.activity-log > div.info p {
    margin-bottom: 0;
 }

.activity-log > .date-and-edit {
  margin-inline-start: auto;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.activity-log > .date-and-edit img {
   align-self: flex-end;
   margin-top: 30px;
}